*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar
{
    padding: 10px 10px;
    background-color: rgb(255, 255, 255);
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 5%;
}
.navbar .mode-logo .moon-mode
{
    cursor: pointer;
    font-size: 32px;
}
.navbar .search-container .search-icon
{
    cursor: pointer;
    vertical-align: middle; 
    width: 20px;
    font-size: larger;
    color: #fff;

} 

.navbar .search-container
{
   
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}


.navbar .search-container input
{
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px ;
    max-width: 200px;
}
.navbar .search-container input::placeholder
{
    color: #fff;
}
.navbar ul
{
    flex: 1;
    list-style: none;

}
.navbar ul li
{
    display: inline-block;
    margin: 10px 20px;
    font-size: 20px;
    font-family: serif;
    cursor: pointer;
}